@{
    ViewBag.Title = "HelloWorld";
}

<h2>Hello World</h2>

<p>What's your name?</p>
<!-- TODO - make these input fields that update the view model -->
<p>First Name: <input /></p>
<!-- TODO - also, make them change as teh user types -->
<p>Last Name: <input /></p>

<!-- TODO: only show this element when the user has entered a fullname -->
<div class="content">
<!-- TODO: Show the users full name -->
<p>Hello <strong ></strong></p>
</div>

<script>
    // Very simple view model
    function AppViewModel() {

        var self = this;

        // It has properties (note the ko.observable)
        self.firstname = ko.observable("");
        self.lastname = ko.observable("");

        // This is a computed property, derived from observables - will be reevaluated each time
        // an observable is updated
        self.fullname = ko.computed(function () {
            // NB: function calls to observables!
            if (self.firstname() == undefined || self.firstname() == "")
                return "";

            if (self.lastname() == undefined || self.lastname() == "")
                return self.firstname();

            return self.firstname() + " " + self.lastname();
        });
    }

    // Activates knockout.js
    ko.applyBindings(new AppViewModel());
</script>