@{
    ViewBag.Title = "Resources";
}

<h2>Questions?</h2>

<p>Chances are, I don't know the answers :)</p>

<h3>Knockout</h3>
<ul>
    <li><a href="http://knockoutjs.com/">http://knockoutjs.com/</a></li>
    <li><a href="http://knockoutjs.com/documentation/introduction.html">Documentation</a></li>
    <li><a href="http://learn.knockoutjs.com/">Tutorials</a></li>
    <li><a href="http://stackoverflow.com/questions/tagged/knockout.js">Knockout.js @@ Stack Overflow</a></li>
</ul>

<h3>Sammy</h3>
<ul>
    <li><a href="http://sammyjs.org/">http://sammyjs.org/</a></li>
</ul>

<h3>Web API</h3>
<ul>
    <li><a href="http://www.asp.net/web-api">http://www.asp.net/web-api</a></li>
    <li><a href="http://www.asp.net/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api">Getting Started</a></li>
    <li><a href="http://msdn.microsoft.com/en-us/library/ms733127.aspx">Custom Data Contracts</a></li>
</ul>

<h3>Other Frameworks</h3>
<p>Best bet is to play with each one - it should not take you more than a few days to do so</p>
<ul>
    <li><a href="http://coding.smashingmagazine.com/2012/07/27/journey-through-the-javascript-mvc-jungle/">A good comparison of the different Javascript frameworks</a></li>
    <li><a href="http://angularjs.org/">Angular JS</a></li>
    <li><a href="http://emberjs.com/">Ember JS</a></li>
    <li><a href="http://backbonejs.org/">Backbone JS</a></li>
</ul>